<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen"/>
    <title>모바일 현금영수증</title>
</head>
<body>
<div id="content">
    <p class="heading1">현금영수증 발급</p>
    <br/>
    <fieldset class="fieldset1">
        <legend>현금영수증 발행</legend>
        <ul>
            <li><a href="CashbillService/registIssue">registIssue</a> - 발행</li>
            <li><a href="CashbillService/cancelIssue">cancelIssue</a> - 발행취소</li>
        </ul>
    </fieldset>
    <br/>

    <fieldset class="fieldset1">
        <legend>현금영수증 정보확인</legend>
        <ul>
            <li><a href="CashbillService/getInfos">getInfos</a> - 발급 영수증 리스트</li>
        </ul>
    </fieldset>
    <br/>

  
</div>
</body>
</html>
